.App {
	width: 100vw;
	height: 100vh;
	background: repeating-linear-gradient(
		45deg,
		rgb(27, 27, 27) 0px,
		rgb(27, 27, 27) 97px,
		rgb(24, 24, 24) 97px,
		rgb(24, 24, 24) 194px,
		rgb(20, 20, 20) 194px,
		rgb(20, 20, 20) 291px
	);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.heading {
	animation: reveal 0.5s ease-in 0.1s;
	transition: all cubic-bezier(0.86, 0, 0.07, 1);
	color: white;
	font-size: 2rem;
	max-width: 550px;
}

@keyframes reveal {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
