.App {
	width: 100vw;
	height: 100vh;
	background: repeating-linear-gradient(
		45deg,
		rgb(27, 27, 27) 0px,
		rgb(27, 27, 27) 97px,
		rgb(24, 24, 24) 97px,
		rgb(24, 24, 24) 194px,
		rgb(20, 20, 20) 194px,
		rgb(20, 20, 20) 291px
	);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container {
	position: relative;
	width: 300px;
	height: 300px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: url('./Instagram.jpg') no-repeat center center fixed; */
}

.block {
	display: block;
}

.none {
	display: none;
}

.depp-image {
	max-height: 60vh;
	max-width: 90vw;
	animation: reveal 0.5s ease-in;
}

.canvas {
	position: absolute;
	top: 0;
}

.inner {
	text-transform: capitalize;
	font-size: 2rem;
}

.head {
	text-align: center;
	margin: 1rem 0;
}

.heading {
	animation: reveal 0.5s ease-in 0.1s;
	transition: all cubic-bezier(0.86, 0, 0.07, 1);
	color: white;
	font-size: 3rem;
	max-width: 550px;
	z-index: 100;
}

@keyframes reveal {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@media (max-width: 764px) {
	.heading {
		font-size: 2rem;
	}

	.inner {
		font-size: 1.4rem;
	}
}
